.no-favorites {
	font-weight: bold;
	display: block;
	width: 100%;
	font-size: 30px;
	color: #BA5624;
	text-shadow: 2px 2px 2px black;
	letter-spacing: 2px;
}

.image-container {
	display: inline-block;
	align-content: center;
	justify-content: center;
}