section {
	height: 700px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	background-image: url('../../utils/images/paddling.png');
	background-size: cover;
	justify-content: center;
	text-align: center;
	border: 2px solid black;
	width: 100%;
}

.quote {
	opacity: 1;
	font-weight: bold;
	display: block;
	width: 100%;
	font-size: 30px;
	color: #FFA552;
	text-shadow: 2px 2px 2px #BA5624;
	letter-spacing: 2px;
}
