.big-card {
	height: 300px;
	width: 300px;
	margin: auto;
	border: 2px solid #A57F60;
  background-color: #F7DBA7;
  opacity: .9;
}


.favorited {
	height: 300px;
	width: 300px;
	margin: auto;
	border: 2px solid #A57F60;
  background-color: #FFA69E;
  opacity: .9;
}

.favorite-btn {
	background-color: #EDBF85;
	border: 1px solid #A57F60;
	font-size: 20px;
	&:hover {
		background-color: #FFA69E;
		color: black;
}
}