.brew-card {
	height: 90px;
	width: 350px;
	background-color: #BD632F;
	border: 2px solid black;
	margin: 5px;
	text-align: center;
	font-size: large;

	opacity: .9;
	&:hover {
		opacity: 1;
	}
}

.brew-name {
	opacity: 1;
	font-weight: bolder;
	margin-left: 5px;
	color: black;
	letter-spacing: 2px;
	&:hover {
		cursor: pointer;
	}
}
